:root {
 --offcanvas-width:270px;
 --topNavbarHeight:70px;
}

.offcanvas{
    background-color: rgba(255, 255, 255, 0.9) !important;
}
.sidebar-nav {
    width: var(--offcanvas-width);
    margin-top:  var(--topNavbarHeight);
    height:calc(100% - var(--topNavbarHeight));
}

.sidebar-link{
display: flex;
align-items: center;
}

.review-form{
    margin: 0 auto;
    padding-top:  var(--topNavbarHeight);
}

.login-page{
    padding-top:  var(--topNavbarHeight);
}

.profile{
    padding-top:  var(--topNavbarHeight);   
}

.index-page{
    padding-top:  var(--topNavbarHeight);
    /* margin-left: var( --offcanvas-width); */
    /* overflow: auto; */
}

.password-reset-request{
    padding-top:  var(--topNavbarHeight);
}

.password-reset-btn{
    background-color:#03A6A6
}

.login-btn{
    background-color:#03A6A6
}

.login-link{
    color:#888585;
    text-decoration: none;
}

.login-link:hover{
    color:#03A6A6;
    text-decoration: none;
}

.navbar-brand-link .header-img{
    width:120px;
}

.alert {
    word-wrap:break-word;
}
@media (min-width : 476px){
    .navbar-brand-link .header-img{
        width:170px;
    }
}

@media (min-width : 1025px){
    body {
        overflow:auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        /* top: var(--topNavbarHeight);
        height:calc(100% - var(--topNavbarHeight)); */
    }

    .navbar-brand-link .header-img{
        width:220px;
    }
    .login-mark{
        width:300px;
    }
    .index-page{
        padding-top:  var(--topNavbarHeight);
        margin-left: var( --offcanvas-width);
    }

    .profile{
        padding-top:  var(--topNavbarHeight);
        margin-left: var( --offcanvas-width);
    }
    .review-form{
        padding-top:  var(--topNavbarHeight);
        margin-left: var( --offcanvas-width);
    }
    .alert {
        white-space:nowrap;
    }
}