    <thead>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
        </tr>
    </thead>
<div class='row justify-content-center align-items-center'>
    <div class=" col-lg-1 col-sm-2 col-md-2">來源</div>
    <div class=" col-lg-1 col-sm-2 col-md-5">評核者</div>
    <div class=" col-lg-1 col-sm-2 col-md-5">被評核者</div>
    <div class=" col-lg-4 col-sm-2 col-md-12">項目</div>
    <div class=" col-lg-1 col-sm-2 col-md-2">地點</div>
    <div class=" col-lg-1 col-sm-2 col-md-2">已完成</div>
    <div class=" col-lg-2 col-sm-2 col-md-4">最近更新時間</div>
    <div class=" col-lg-1 col-sm-2 col-md-4"></div>
    
</div>

{% for review in reviews %}
        
    <div class='row justify-content-center align-items-center'>
        <div class=" col-lg-1 col-sm-2 col-md-2">
            {{ review.review_source.desc }}
        </div>
        <div class=" col-lg-1 col-sm-2 col-md-5">
            {{ review.reviewer.username }}
        </div>
        <div class=" col-lg-1 col-sm-2 col-md-5">
            {{ review.reviewee.username }}
        </div>
        <div class=" col-lg-4 col-sm-2 col-md-12">
            {{ review.epa.desc }}
        </div>
        <div class=" col-lg-1 col-sm-2 col-md-2">
            {{review.location.desc}}
            
        </div>
        <div class=" col-lg-1 col-sm-2 col-md-2">
            {% if review.complete %} 是 {% else %} 否 {% endif %}
        </div>
        <div class=" col-lg-2 col-sm-2 col-md-4">
            {{review.last_edited.strftime('%Y-%m-%d %-I%p') }}
        </div>
        <div class=" col-lg-1 col-sm-2 col-md-4">
            <a href="{{url_for('inspect_review',review_id=review.id)}}"><button type="button" class="btn btn-outline-dark">{{button_text}}</button></a>
        </div>
        
    </div>
{% endfor %}
