<div class="row justify-content-md-center" style="margin:auto">
    {% for review in reviews %}
    <div class="card col col-12 px-0 mb-2">

        <div class="card-header">
            {% if review.is_draft %}
                <span class="badge bg-danger">暫存</span>
            {% elif review.complete %} 
                <span class="badge bg-success">已完成</span> 
            {% else %} 
                <span class="badge bg-warning text-dark">未完成</span> 
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                {% if current_user.id == review.reviewer_id %}
                    {% set card_title = ("評核學生 " + review.reviewee.username) if review.reviewee_id else "評核未知學生"%}
                {% elif current_user.id == review.reviewee_id %}
                    {% set card_title = ("給老師 " + review.reviewer.username) if review.reviewer_id else "給未知的老師"%} 
                {% else %}
                    {% set card_title = ("由" + review.reviewer.username + review.reviewer.role.name + " 評核 " + review.reviewee.role.name + review.reviewee.username) if review.reviewer else "評核未知的使用者" %}
                {% endif %}
                
                {% if current_user.can_edit_review(review) %}
                    {% set btn_url = url_for('edit_review',review_id=review.id) %}
                    {% set btn_text = "編輯 " %}
                {% elif current_user.can_view_review(review) %}
                    {% set btn_url = url_for('inspect_review',review_id=review.id) %}
                    {% set btn_text = "查看" %}
                {% endif %}

                <div class="col-3 col-md-1">
                    <img src="{{review.creator.avatar()}}" style="width:100px">
                </div>
                <div class="col-9 col-md-5">
                    <h5 class="card-title">{{card_title}}</h5>
                    <p class="card-text">{{review.epa.desc}}</p>

                </div>

                <div class="col-12 col-md-2 text-end text-md-start text-muted">
                    {{review.implement_date.strftime('%Y-%m-%d') if review.implement_date else "未知時間"}}
                    <br>{{review.location.desc if review.location_id else "未知地點"}}</div>
                    
                <div class="col-5 col-md-2">
                    <a href="{{btn_url}}" class="btn w-100 btn-outline-primary">{{btn_text}}</a>
                </div>
                <div class="col-5 col-md-1">
                {% if current_user.can_delete_review(review) %}
                    <a href="{{url_for('delete_review',review_id=review.id)}}"
                        class="btn w-100 btn-outline-danger">刪除</a>
                {% endif %}
                </div>
            </div>
        </div>

    </div>

    {% endfor %}

</div>