{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    <div class="container">
        <div class='row justify-content-center align-items-center'><h1>{{title}}</h1></div>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {% for field in form if field.type in ['BooleanField', 'SelectField','SelectField','SelectMultipleField','TextAreaField', 'EmailField'] %}
            <div class='row justify-content-center align-items-center'>
                <div class=" col-lg-3 col-sm-2 col-md-12">
                    {{ field.label.text }}
                </div>
                <div class="justify-content-left col-lg-4 col-sm-4 col-md-12">
                    
                    {% if field.label.text in ['Line帳號'] %}
                        <div class="media justify-content-center align-items-center">
                            {%if line_user_profile %}
                                <img src="{{ line_user_profile.picture_url }}" width="50" height="50">
                                <div class="media-body">
                                    line人名
                                </div>
                                {{field(type="button", value="解除綁定", class="btn btn-danger")}}
                            {% else %}
                                <div class="meida-body">
                                    目前無綁定帳號
                                    <a class="btn btn-outline-primary" href="https://line.me/R/ti/p/{{linebotinfo.basic_id}}">前往綁定</a>
                                </div>
                            {% endif %}
                            
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-lg") }}
                    {% endif %}
                    
                </div>
                
            </div>
            <div class='row justify-content-center align-items-center'>
                <div class=" col-lg-3 col-sm-2 col-md-12"></div>
                <div class="justify-content-left col-lg-4 col-sm-4 col-md-12">
                    {% for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            
        {% endfor %}
        <div class='row text-center justify-content-center align-items-center'>
            {{ form.submit(title=form.submit.description, class="btn btn-outline-info")}}
            <a href="{{url_for('reset_password_request')}}" class='btn btn-outline-danger'>重設密碼</a>
        </div>
        
    </div>

</form>

{% endblock %}
