{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    <div class="container">
        
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        
        <div class='row'>
            <div class="text-center col-md-2"></div>
            <div class="text-center col-md-8">
                
                <div class="card mb-3">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="w-100">
                                <img src="{{ current_user.avatar() }}" class="rounded-circle w-75">
                            </div>
                            <div class="w-100"><p></p></div>
                            <h3 class="card-title">{{current_user.username}}</h3>
                            {% if current_user.line_userId %}
                                <div class="w-100 form-check form-switch"> 
                                    {{form.bindline(class="form-check-input")}} 綁定 line 帳號
                                </div>
                            {% else %}
                                <div class="w-100"><small class="text-muted">尚未綁定line帳號</small></div>
                                <a class="btn btn-sm btn-outline-dark" href="https://line.me/R/ti/p/{{linebotinfo.basic_id}}">前往綁定</a>
                            {% endif %}
                            
                        </div>
                        <div class="col-md-4 card-body text-start">
                            
                            
                            <div class="form-floating">
                                {{ form.role(class="form-select") }}
                                {{ form.role.label }}
                                {% for error in form.role.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-floating">
                                {{ form.email(class="form-control") }}
                                {{ form.email.label }}
                                {% for error in form.email.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-floating">
                                {{ form.internal_group(class="form-select") }}
                                {{ form.internal_group.label }}
                                {% for error in form.internal_group.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-floating">
                                {{ form.external_groups(class="form-select h-50") }}
                                {{ form.external_groups.label }}
                                {% for error in form.external_groups.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col col-md-1"></div>
                        <div class="col col-12 col-md-4">
                            {{ form.submit(class="w-100 btn btn-outline-info") }}
                        </div>
                        <div class="col col-md-2"></div>
                        <div class="col col-12 col-md-4">
                            <a href="{{url_for('reset_password_request')}}" class='w-100 btn btn-outline-danger'>重設密碼</a>
                        </div>
                        <p></p>
                    </div>
                </div>
                
                
            </div>
        </div>  
    </div>
</form>

{% endblock %}
