{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    <div class="container">
        <div class='row'><div class="col col-12 d-flex justify-content-center"><h1>{{title}}</h1></div></div>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {% for field in form if field.type in ['BooleanField', 'SelectField','SelectField','SelectMultipleField','TextAreaField', 'EmailField'] %}
            <div class='row'>
                <div class="col col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                    {{ field.label.text }}
                </div>
                <div class="col col-12 col-md-6 d-flex justify-content-start justify-content-md-start">
                    {% if field.label.text in ['Line帳號'] %}
                        <div class="media">
                            {%if line_user_profile %}
                                <img src="{{ line_user_profile.picture_url }}" width="50" height="50">
                                <div class="media-body">
                                    {{line_user_profile.display_name}}
                                    <div class="form-check form-switch"> 
                                        維持綁定這個 line 帳號{{field(class="form-check-input")}}
                                    </div>
                                </div>
                                
                            {% else %}
                                <div class="meida-body">
                                    目前無綁定帳號
                                    <a class="btn btn-outline-primary" href="https://line.me/R/ti/p/{{linebotinfo.basic_id}}">前往綁定</a>
                                </div>
                            {% endif %}
                            
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-lg") }}
                    {% endif %}
                    
                </div>
                
            </div>
            <div class='row'>
                <div class="col col-0 col-md-6 d-flex justify-content-start justify-content-md-end"></div>
                <div class="col col-12 col-md-6 d-flex justify-content-start justify-content-md-start">
                    {% for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            
        {% endfor %}
        <div class='row justify-content-center'>
            <div class="col col-12 col-md-3 d-flex justify-content-start justify-content-md-end">
                {{ form.submit(title=form.submit.description, class="btn btn-outline-info")}}
            </div>
            <div class="col col-12 col-md-3 d-flex justify-content-start justify-content-md-start">
                <a href="{{url_for('reset_password_request')}}" class='btn btn-outline-danger'>重設密碼</a>
            </div>
        </div>
    </div>

</form>

{% endblock %}
