{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class='row justify-content-center align-items-center'><h1>嗨，{{current_user.username}}</h1></div> 
    
    {% if unfin_being_reviews | length == 0 and unfin_make_reviews | length == 0%}
        太棒了，你沒有待辦事項
    {% endif %}
    {% if unfin_make_reviews | length > 0%}
        <h5>以下是你待完成的評核</h5>
        {% set reviews = unfin_make_reviews%}
        {% include "_reviews.html" %}
    {% endif %}
    {% if unfin_being_reviews | length > 0%}
        <p></p>
        <h5>以下是關於你的評核，等待指定老師完成</h5>
        {% set reviews = unfin_being_reviews%}
        {% include "_reviews.html" %}
    {% endif %}

      
</div>
{% endblock %}
