{% extends "base.html" %}

{% block content %}

<div class='row'>

    <div class="col-2"></div>
    <div class="col-8 text-center">
    <h2>評核詳細資料</h2>
    </div>
    <div class="col-2"></div>
</div>
<div class='row'>
    <div class="col-1"></div>
    <div class="col-10">
    <table class="table table-hover">
        <tr><th>來源</th><td>{{review.review_source.desc}}</td></tr>
        <tr><th>評核者</th><td>{{review.reviewer.username}}</td></tr>
        <tr><th>被評核者</th><td>{{review.reviewee.username}}</td></tr>
        <tr><th>項目</th><td>{{review.epa.desc}}</td></tr>
        <tr><th>地點</th><td>{{review.location.desc}}</td></tr>
        <tr><th>已完成</th><td>{{review.complete}}</td></tr>
        <tr><th>最近更新時間</th><td>{{review.last_edited}}</td></tr>
        <tr><th>(1) 這項工作的複雜程度為</th><td>{{ review.review_difficulty.desc }}</td></tr>
        <tr><th>(2) 我覺得你表現不錯的地方在 </th><td>{{ review.review_compliment }}</td></tr>
        <tr><th>(3) 如果你能做到以下建議，就可以獲得老師或病人更高的信任 </th><td>{{ review.review_suggestion }}</td></tr>
        <tr><th>(4) 如果下次再遇到類似情形，我對你的信賴等級為</th><td>{{ review.review_score.desc }}</td></tr>
    </table>
    </div>
    
    <div class="col-1"></div>
</div>

{% endblock %}
