{% extends "base.html" %}

{% block content %}
<main class="form-signin">
    <div class='row'>
        <div class="text-center col-md-4"></div>
        <div class="text-center col-md-4">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">登入EPA系統</h1>
            <form action="" method="post" class="form-signin">
                {{ form.csrf_token }}
                <div class="form-floating">
                    {{ form.username(class="form-control") }}
                    {{ form.username.label }}
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-floating">
                    
                    {{ form.password(class="form-control") }}
                    {{ form.password.label }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="checkbox mb-3">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label }}
                    {% for error in form.remember_me.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
                <p>
                    <a href="{{ url_for('register') }}">註冊新用戶</a>
                    <a href="{{ url_for('reset_password_request') }}">忘記密碼</a>
                </p>
                
            </form>
        </div>
    </div>
</main>
{% endblock %}