{% extends "base.html" %}
{% block content %}

<form action="" method="post">
    <div class="container">
        
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {% if review_type == "request" %}
            {% set filling_fields = [form.reviewee, form.reviewer, form.epa, form.location, form.implement_date]%}
        {% elif review_type in ["new", "fill"]%}
            {% set filling_fields = [form.reviewer, form.reviewee, form.epa, form.location, form.implement_date, form.review_difficulty, form.review_compliment, form.review_suggestion, form.review_score]%}  
        {% elif review_type in ["inspect"]%}
            {% set filling_fields = [form.review_source, form.reviewer, form.reviewee, form.epa, form.location, form.implement_date, form.review_difficulty, form.review_compliment, form.review_suggestion, form.review_score]%}
        {% endif %}
        <div class='row'>
            <div class="text-center col-md-3"></div>
            <div class="text-center col-md-6">
                <h1>{{title}}</h1>
                {% for field in filling_fields %}
                    <div class="form-floating">
                        {{ field(class="form-control ") }}
                        {{ field.label }}
                        {% for error in field.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    
                {% endfor %}
                {% if review_type != "inspect" %}
                    <div class='row text-center justify-content-center align-items-center'>
                        {{ form.submit(title=form.submit.description, class="btn btn-lg btn-outline-primary")}}
                    </div>
                {% endif %}
            </div>
    </div>

</form>

{% endblock %}