{% extends "base.html" %}
{% block content %}

<meta id="meta_linkages" data-mies="{{ mies }}" data-mis="{{mis}}">

<form action="" method="post">
    <div class="container">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {% if current_user.role.is_manager and review_type in ['admin_edit'] %}
        {% set card_subtitle = "管理者編輯功能" %}
        {% set card_desc = "請注意您的編輯將直接修改評核內容，將不另行通知評核相關人" %}
        {% elif review_type in ["request"] %}
        {% set card_subtitle = "請求評核指定的EPA項目" %}
        {% set card_desc = "請填寫以下欄位，評核者只能是所屬醫院或外派醫院中的總醫師/主治醫師" %}
        {% elif review_type in ["new", "user_edit"] %}
        {% if review_tpye == "new"%}
        {% set card_subtitle = "評核住院醫師實作的EPA項目" %}
        {% set card_desc = "請填寫指定被評醫師、項目以及您的評核內容，被評核者只能是所屬醫院(含外派至本院)的住院醫師/總醫師" %}
        {% elif review_type == "user_edit" %}
        {% set card_subtitle = "評核住院醫師實作的EPA項目" %}
        {#
        {% if review.review_source.name == "request" %}
        {% set card_desc = review.reviewee.username + "請求您評核他實作的" + review.epa.desc +
        "。此項紀錄於"+review.create_time.strftime("%Y-%m-%d %H時")+"創立，"+("評核完成時間為"+review.last_edited.strftime("%Y-%m-%d
        %H時") if review.complete else "尚未完成評核") %}
        {% else %}
        {% set card_desc = "您主動評核"+review.reviewee.username+"實作的" + review.epa.desc +
        "。此項紀錄於"+review.create_time.strftime("%Y-%m-%d %H時")+"創立，"+("評核完成時間為"+review.last_edited.strftime("%Y-%m-%d
        %H時") if review.complete else "尚未完成評核") %}

        {% endif %}
        #}
        {% endif %}

        {% elif review_type in ["inspect"] %}
        {% if review.review_source.name == "request" %}
        {% set card_subtitle = review.reviewee.username + "請求" + review.reviewer.username + "評核" %}
        {% elif review.review_source.name == "new" %}
        {% set card_subtitle = review.reviewer.username + "主動評核" +review.reviewee.username %}
        {% endif %}
        {% set card_desc = "此項紀錄於"+review.create_time.strftime("%Y-%m-%d
        %H時")+"創立，"+("評核完成時間為"+review.last_edited.strftime("%Y-%m-%d %H時") if review.complete else "尚未完成評核") %}
        {% endif %}


        <div class='row justify-content-md-center review-form'>
            <div class="text-center col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{card_subtitle}}</h6>
                        <p class="card-text">{{card_desc}}</p>
                        {% if review_type in ["new", "user_edit"]%}
                        <!-- <div class="row"> -->
                        <div id="btn_epa_linkage" class="text-center col-md-3 btn btn-outline-dark">查看EPA</div>
                        <!-- </div> -->
                        {% endif %}
                    </div>
                </div>
            </div>
        
            <div class="w-100"></div>
            <div class="text-center col-md-6 mb-3">

                {% for field in showing_fields %}
                <div class="form-floating">
                    {% if field.type in ["SelectField"] %}
                    {{ field(**{"class":"selectpicker form-control", "data-live-search": "true"}) }}
                    {% elif field.type == "TextAreaField"%}
                    {{ field(class="form-control", style="height: 100px") }}
                    {% elif field.type == "RadioField"%}
                    {{ field(class="form-control", style="height: 100px") }}
                    {% else %}
                    {{ field(class="form-control form-check") }}
                    {% endif %}
                    {{ field.label }}
                    {% for error in field.errors %}
                    <div class="text-danger"><span style="color: red;">[{{ error }}]</span></div>
                    {% endfor %}

                </div>

                {% endfor %}
            </div>

            <div class="w-100"></div>
            <div class="text-center col-md-6 mb-3">

                {% if review_type != "inspect" %}
                <!-- <div class="col-3"> -->
                {{ form.save_draft(title=form.save_draft.description, class="col-3 btn btn-outline-dark")}}
                <!-- </div> -->
                <!-- <div class="col-3"> -->
                {{ form.submit(title=form.submit.description, class="col-3 btn btn-outline-primary")}}
                <!-- </div> -->

                {% else %}
                <div class="col-3">
                    <a href="{{url_for('view_all_reviews')}}" class="w-100 btn btn-outline-primary">回查看所有評核</a>
                </div>
                {% endif %}
            </div>

        </div>
</form>
<div class="modal fade" id="epa_linkage_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btn_epa_linkage").on("click", (e) => {
        var selectedText = $('#epa :selected').text();
        var selected_epa_code = selectedText.split("(")[0]
        console.log(selected_epa_code)
        var epa_linkage = find_epa_linkage(selected_epa_code)
        var htmltext = "<ul>"
        for (var i = 0; i < epa_linkage['milestone_item_codes'].length; i++) {
            htmltext += `<li>(${epa_linkage['min_epa_level'][i]}) ${epa_linkage['milestone_item_codes'][i]}: ${epa_linkage['contents'][i]}</li>`
        }
        htmltext += "</ul>"
        var $epa_modal = $('#epa_linkage_modal')
        $epa_modal.find(".modal-body").html(htmltext)
        $epa_modal.find(".modal-title").html(selectedText)
        $epa_modal.modal('show');

    });

    function find_epa_linkage(epa) {
        var linkages = $("#meta_linkages")
        var mies = linkages.data("mies") //would be json automatically
        var mis = linkages.data("mis")
        var re = mies[epa]
        re['contents'] = re['milestone_item_codes'].map(x => mis[x])
        return re
    }

    const $name_list = $("#name_list")
    const reviewer_list = $name_list.data('reviewer')
    const reviewee_list = $name_list.data('reviewee')
    console.log(reviewee_list)
</script>


{% endblock %}