{% extends "base.html" %}
{% block content %}

<meta id="milestoneitem_epa" data-milestone_item_epa_linkage="{{ milestone_item_epa_linkage }}" data-milestone_items="{{milestone_items}}" data-epa_milestones="{{epa_milestones}}">

<form action="" method="post">
    <div class="container">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class='row justify-content-md-center review-form'>
            <div class="text-center col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        {% if review.is_draft %}
                            <span class="badge bg-secondary">暫存</span>
                        {% elif review.complete %} 
                            <span class="badge bg-success">已完成</span> 
                        {% else %} 
                            <span class="badge bg-warning text-dark">未完成</span> 
                        {% endif %}
                        <h5 class="card-title">{{title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {% if review.review_source.name == 'request' %}
                                請求總醫師/主治醫師評核
                            {% elif review.review_source.name == 'new' %}
                                評核住院醫師/總醫師
                            {% endif %}
                        </h6>
                        <p class="card-text">{{card_desc}}</p>
                        <div id="btn_epa_milestones" class="text-center btn btn-outline-dark">查看EPA詳情</div>
                    </div>
                </div>
            </div>
        
            <div class="w-100"></div>
            <div class="text-center col-md-6 mb-3">

                {% for field in showing_fields %}
                    <div class="form-floating">
                        {% if field.type in ["SelectField"] %}
                            {{ field(**{"class":"selectpicker form-control", "data-live-search": "true"}) }}
                        {% elif field.type == "TextAreaField"%}
                            {{ field(class="form-control", style="height: 100px") }}
                        {% elif field.type == "RadioField"%}
                            {{ field(class="form-control", style="height: 100px") }}
                        {% else %}
                            {{ field(class="form-control form-check") }}
                        {% endif %}
                        {{ field.label }}
                        {% for error in field.errors %}
                            <div class="text-danger"><span style="color: red;">[{{ error }}]</span></div>
                        {% endfor %}
                    </div>

                {% endfor %}
            </div>

            <div class="w-100"></div>
            <div class="text-center col-md-6 mb-3">

                {% if review_type != "inspect" %}
                    {% if review.complete == False %}
                        {{ form.submit_draft(title=form.submit_draft.description, class="col-3 btn btn-outline-dark")}}
                    {% endif %}
                    {{ form.submit(title=form.submit.description, class="col-3 btn btn-outline-primary")}}
                {% else %}
                <div class="col-3">
                    <a href="{{url_for('view_all_reviews')}}" class="w-100 btn btn-outline-primary">回查看所有評核</a>
                </div>
                {% endif %}
            </div>

        </div>
</form>
<div class="modal fade" id="epa_milestone_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EPA連結的次核心能力</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btn_epa_milestones").on("click", (e) => {
        var selectedText = $('#epa :selected').text();
        var selected_epa_code = selectedText.match(/EPA\d+/)[0]
        selected_epa_code = selected_epa_code.substring(0,3) + parseInt(selected_epa_code.substring(3))
        console.log(selected_epa_code)
        var epa_milestones = find_epa_milestone(selected_epa_code)
        console.log(epa_milestones)
        var htmltext = "<ul>"+epa_milestones.map(x=>"<li>"+x+"</li>").join("")+"<ul>"
        var $epa_modal = $('#epa_milestone_modal')
        $epa_modal.find(".modal-body").html(htmltext)
        $epa_modal.find(".modal-title").html(selectedText)
        $epa_modal.modal('show');

    });
    function find_epa_milestone(epa){
        var epa_milestones = $("#milestoneitem_epa").data("epa_milestones")
        return epa_milestones[epa].map(x=>x['name'] + " "+ x['desc'])
    }

    function find_epa_milestone_items(epa) {
        var linkages = $("#milestoneitem_epa")
        var milestone_item_epa_linkage = linkages.data("milestone_item_epa_linkage") //mies show the all epa level-miletone item linkage
        var milestone_items = linkages.data("milestone_items") //  mis show the milestone item content
        var re = milestone_item_epa_linkage[epa]
        re['contents'] = re['milestone_item_codes'].map(x => milestone_items[x])
        return re
    }
</script>

{% endblock %}