{% extends "base.html" %}

{% block content %}
<meta id="meta_stats" data-corecompetence="{{corecompetence_stats_json}}" data-milestone="{{milestone_stats_json}}" data-milestoneitemchecking="{{milestone_item_checking_json}}">
<div class="container progress-stat-page">
    <main class="container" style="justify-content: flex-start">
    <div class="w-100">
      <p></p>
    </div>
    <p></p>
    <div class="row">
      <div class="col-12 col-md-8">
        <h5>次核心能力</h5>
        <h class="text-muted">可點選查看達成里程碑細項</h>
        <canvas id="milestone_bar_chart"></canvas>
      </div>
      <div class="col-12 col-md-4">
        <h5>核心能力</h5>
        <canvas id="core_competence_radar_chart"></canvas>
      </div>
    </div>

  </main>

</div>

<div class="modal fade" id="modal_milestone_checking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">達成之里程碑項目</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
          </div>
      </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const data_corecompetence = $("#meta_stats").data("corecompetence")
const data_milestone = $("#meta_stats").data("milestone")
const data_milestoneitemchecking = $("#meta_stats").data("milestoneitemchecking")

  var cc_labels = []
  var cc_data = []
  for (var key in data_corecompetence) {
    cc_labels.push(key)
    cc_data.push(data_corecompetence[key]['score'])
  }

  var mi_labels = []
  var mi_data = []
  for (var key in data_milestone) {
    mi_labels.push(key)
    mi_data.push(data_milestone[key]['score'])
  }

  const core_competence_data = {
    labels: cc_labels,
    datasets: [{
      // label: '核心能力',
      data: cc_data,
      fill: true,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgb(255, 99, 132)',
      pointBackgroundColor: 'rgb(255, 99, 132)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(255, 99, 132)'
    }]
  };
  const core_competence_config = {
    type: 'radar',
    data: core_competence_data,
    options: {
      elements: {
        line: {
          borderWidth: 3
        }
      },
      plugins: {
        legend: {
          display: false,
        }
      },
      scale: {
        max: 5,
        min: 0,
    }
    }
  };
  var core_competence_radar_chart = new Chart($('#core_competence_radar_chart'), core_competence_config);
  function milestoneClickEvent(event, array){
    if(array.length !=1 )return
    var selected_ind = array[0]['index']
    var selected_milestone = Object.keys(data_milestone)[selected_ind]
    var milestone_checking = data_milestoneitemchecking[selected_milestone]
    var $epa_modal = $('#modal_milestone_checking')
    console.log(milestone_checking)
    htmltext = ""
    for(var i = 1;i <= 5;i++){
      htmltext += `<p><h5>Level ${i} </h5></p>`
      htmltext+=milestone_checking[i].map(x=>{
        var checked_text = ""
        if(x['checked'])checked_text = "checked"
        return `<div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="check_${x['code']}" ${checked_text} disabled>
                  <label class="form-check-label" for="check_${x['code']}">
                    ${x['code']} ${x['content']}
                  </label>
                </div>`
      }).join("")
    }
    $epa_modal.find(".modal-body").html(htmltext)
    $epa_modal.find(".modal-title").html(selected_milestone+"達成的項目")
    $epa_modal.modal('show');
  }


  const milestone_data = {
    labels: mi_labels,
    datasets: [{
      // label: '次核心能力',
      data: mi_data,
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
      ],
      borderWidth: 1
    }]
  };
  const milestone_config = {
    type: 'bar',
    data: milestone_data,
    options: {
      onClick: milestoneClickEvent,
      scales: {
        y: {
          beginAtZero: true,
          max: 5
        }
      },
      plugins: {
        legend: {
          display: false,
        }
      }
    },
  };
  var milestone_bar_chart = new Chart($('#milestone_bar_chart'), milestone_config);

</script>
{% endblock %}