{% extends "base.html" %}

{% block content %}




<form action="" method="post">
<div class="container">
    <div class='row justify-content-center align-items-center'><h1>註冊我的帳號</h1></div>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    {% for field in [form.username, form.bindline, form.role, form.internal_group, form.external_groups, form.email, form.password, form.password2] %}
    <div class='row justify-content-center align-items-center'>
        <div class=" col-lg-3 col-sm-2 col-md-12">
            {{ field.label }}
        </div>
        <div class="justify-content-left col-lg-4 col-sm-4 col-md-12">
            {% if 'line' in field.label|string %}
                {% if line_user_profile %}
                    <div class='row'>
                        <img src="{{line_user_profile.picture_url}}" width="50" height="50">
                        
                            <p>{{ line_user_profile.display_name }}</p>
                            <p>{{ field() }}</p>
                    </div>
                {% else %}
                    <a class="btn btn-outline-dark" href="https://line.me/R/ti/p/{{linebotinfo.basic_id}}"> 透過 Line註冊 </a></p>
                {% endif %}
            
            {% else %}
                {{ field(class="form-control form-control-lg") }}
            {% endif %}

            {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </div>
    </div>
    {% endfor %}

    <div class='row text-center justify-content-center align-items-center'>
        {{ form.submit(title=form.submit.description, class="btn btn-lg btn-outline-primary")}}
    </div>
    
</div>
</form>

{% endblock %}